@model EditCardPurchasedProductOperationViewModel

<a asp-action="Edit"
   asp-controller="CardPurchasedProduct"
   asp-route-id="@ViewBag.Item.CardPurchasedProductId"
   asp-route-cardId="@ViewBag.CardId"
   asp-route-cardsFilter="@ViewBag.CardsFilter"
   asp-route-cardsPageNumber="@ViewBag.CardsPageNumber">Back To Operations</a>

<form method="post">
    <input name="Id" value="@ViewBag.Item.Id" hidden />
    <input name="CardsPageNumber" value="@ViewBag.CardsPageNumber" hidden />
    <input name="CardsFilter" value="@ViewBag.CardsFilter" hidden />
    <input name="CardOperationsPageNumber" value="@ViewBag.CardOperationsPageNumber" hidden />
    <input name="CardOperationsFilter" value="@ViewBag.CardOperationsFilter" hidden />

    <dl class="row">
        <dt class="col-sm-3">Код</dt>
        <dd class="col-sm-9">@ViewBag.Item.Code</dd>

        <dt class="col-sm-3">Наименование</dt>
        <dd class="col-sm-9">@ViewBag.Item.Name</dd>

        <dt class="col-sm-3">Трудоемкость</dt>
        <dd class="col-sm-9">@ViewBag.Item.Labor</dd>

        <dt class="col-sm-3">Цех</dt>
        <dd class="col-sm-9">@ViewBag.Item.Department</dd>

        <div>
            <span>Исполнитель</span><br />
            <select id="executor" asp-for="ExecutorId" placeholder="Поиск">
                @if (ViewBag.Executor != null)
                {
                    <option value="@ViewBag.Executor.Id">@ViewBag.Executor.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="ExecutorId"></span>
        </div>

        <div>
            <span>Дата</span><br />
            <input type="date" asp-for="Date" class="form-control" />
            <span class="text-danger" asp-validation-for="Date"></span>
        </div>

    </dl>

    <button type="submit" class="btn btn-dark">Сохранить</button>

</form>


<script>
    $('#executor').selectize({
        valueField: 'id',
        labelField: 'name',

        score: function () { return function () { return 1; }; },

        render: {
            item: function (item, escape) {
                return (
                    '<div>' +
                    '<span class="name">' + item.name + '</span>' +
                    '</div>'
                );
            },

            option: function (item, escape) {

                return (
                    '<div>' +
                    '<span class="caption">' + item.name + '</span>' +
                    '</div>'
                );
            },

        },

        load: function (query, callback) {
            if (!query.length) return callback();
            console.log(query);
            var self = this;
            $.ajax({
                url: encodeURI('/CardPurchasedProductOperation/FindExecutors?query=' + query, true),
                type: 'GET',
                dataType: 'json',
                data: {
                    count: 100
                },
                error: function () {
                    callback();
                },
                success: function (res) {
                    self.clearOptions();
                    callback(res);
                }
            })
        }
    });
</script>